@font-face {
    font-family: 'potion';
    src: url(./font/BitPotionExt.ttf);
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f1b1a;
    background-position: bottom center;
    background-size: 100%;
    background-image: url('/img/star-bg.png');
    margin: 0;
    padding: 0;
}

body * {
    font-family: potion;
    font-size: 30px;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.body-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.title-text {
    color: #ffffff;
    font-size: 70px;
}

.label-text {
    color: #ffffff;
    font-size: 60px;
}

.cozy-text {
    line-height: 90%;
}

.label-text-small {
    color: #ffffff;
    font-size: 38px;
}

.cozy-text-small {
    line-height: 80%;
}

.label-text-light {
    color: #ffffff;
    font-size: 60px;
}

a.label-text {
    color: #ffffff;
    font-size: 60px;
}

a.label-text:hover {
    color: #cfcfcf;
}

a.label-text-light {
    color: #ffffff;
    font-size: 60px;
}

a.label-text-light:hover {
    color: #cfcfcf;
}

div.tool-button-group {
    position: absolute;
    top: 25px;
    left: 25px;
}

div.tool-button-group-right {
    position: absolute;
    top: 25px;
    right: 25px;
}

img.tool-button {
    cursor: pointer;
    width: 70px;
    height: 70px;
}

div.menu-button-group {
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.mint-text {
    color: #132243;
    font-size: 210px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #cfcfcf;
    background-color: #000000;
    border: 2px solid #cfcfcf;
    transition-duration: 0.4s;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    color: #000000;
    background-color: #cfcfcf;
}

button.connect {
    width: 459px;
    height: 97px;
    font-size: 66px;
}

button.player-command {
    width: 370px;
    height: 52px;
    font-size: 48px;
}


div.connect-page {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div.game-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

div.game-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.game-column.left {
    flex: 60%;
}

div.game-column.right {
    flex: 40%;
}

div.player-command-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.player-planet-name {
    font-size: 70px;
    color: #ffffff;
}

div.game-column {
    display: flex;
    flex: 33.33%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


div.down-flex {
    display: flex;
    flex-direction: column;
}

div.right-flex {
    display: flex;
    flex-direction: row;
}

div.f-a-center {
    align-items: center;
}

div.f-a-left {
    align-items: left;
}

div.f-j-center {
    justify-content: center;
}


img.planet-onlist {
    width: 200px;
    height: 200px;
}

img.player-planet {
    width: 240px;
    height: 240px;
}



@keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 14px rgba(72, 106, 170, 0.5);
    border-color: rgba(160, 179, 214, 0.5);
  }
  50% {
    -webkit-box-shadow: 0 0 18px rgba(72, 106, 170, 1.0), 0 0 18px rgba(0, 140, 255, 1.0);
    border-color: rgba(160, 179, 214, 1.0);
  }
  100% {
    -webkit-box-shadow: 0 0 14px rgba(72, 106, 170, 0.5);
    border-color: rgba(160, 179, 214, 0.5);
  }
}

svg {
    -webkit-box-shadow: 0 0 9px rgba(72, 106, 170, 0.5);
    border-color: rgba(160, 179, 214, 0.5);
}

svg.ready {
    animation-duration: 3s;
    animation-name: glow;
    animation-iteration-count: infinite;
}


/*toast css*/
.toast {
    max-width: 30vw;
    flex-basis: auto;
}

/*modeal css*/
.modal-content {
    font-size: 48px;
    color: #cfcfcf;
    background-color: #000000;
    border: 2px solid #cfcfcf;
}

.modal-title {
    font-size: 48px;
}

.modal-footer {
    border: 0px;
}

.modal-header {
    border: 0px;
}

input {
    color: #cfcfcf;
    background-color: #000000;
    border: 2px solid #cfcfcf;
    font-size: 48px;
    width: 100%;
}